header {
  width: 100%;
  height: 90px;
  position: sticky;
  top: 0;
  transition: 0.2s linear;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  transition: 0.2s linear;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 83px;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 0px;
}
li a {
  color: rgba(104, 104, 104, 1);
  font-weight: 500;
  font-size: 15px;
}
.language {
  display: flex;
  align-items: center;
  gap: 10px;
}
select {
  border: none;
  outline: none;
}
button {
  border: none;
  outline: none;
}
button a {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: rgba(0, 150, 136, 1);
  color: #fff;
  cursor: pointer;
}
.flag--uzb {
  width: 30px !important;
}
